html{
    background-image: url("../Imagens/japanfundo.jpg"); /*deixar uma imagem de fundo, fazendo 
    as divs se mecherem sem mecher na imagem de fundo.*/
    background-position: center top; /*centraliza a imagem*/
    background-repeat: no-repeat; /*Não deixa que a imagem se repita*/
    background-size: cover; /*A imagem é renderizada, preservando sua proporção*/
}

.inicio{
    max-width: 1200px;
    margin: 0 auto;
}

.cabeçalho{
    width: 100%;
    height: 90px;
    background-color: black;
    border-bottom: #EE0000 5px solid;
}

.navegador ul li {
    display: inline-block;
}

.navegador a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
} 

.navegador{
    float:right;
}

.titulo{
    float: left;
    color: #EE0000;
    padding: 35px;
    margin: 0px;
}

ul li {
    display: inline-block;
    border-radius: 4px;
    margin: 0px;
  
    border: none;
    color: red;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

body{
    margin: 0px;
}
  
ul li {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    margin: 0px;
}

.img_cadastro{
    background-image: url("../Imagens/login.jpg");
    height: 540px;
    width: 531px;
    margin-top: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    border-radius: 25px 25px;
}

.cadastro_curso{
    background-color: black;
    color: white;
    height: 400px;
    width: 410px;
    margin-top: 78px;
    margin-left: 760px;
    text-align: center;
    border: grey 2px solid;
    border-radius: 25px 25px;
}

.botao1{
    margin-top: 35px;
    background-color: #EE0000;
    padding: 11px;
    border: #EE0000;
    width: 300px;
}

.botao1:hover {
    color: white;
    opacity: 0.7;
    cursor: pointer;
  } 

button a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.botao2{
    background-color: black;
    border:black;
}

.botao2 a{
    color: #EE0000;
}

input{
    padding: 10px;
    width: 330px;
}

