html{
    background-image: url("../Imagens/japanfundo.jpg"); /*deixar uma imagem de fundo, fazendo 
    as divs se mecherem sem mecher na imagem de fundo.*/
    background-position: center top; /*centraliza a imagem*/
    background-size: cover; /*A imagem é renderizada, preservando sua proporção*/
}

#corpo1{
    height: 180px;
    width: 500px;
    margin-top: 100px;
    margin-left: 415px;
    text-align: center;
    display: block;
    border-radius: 25px 25px;
}

#corpo2{
    height: 180px;
    width: 500px;
    margin-top: 100px;
    margin-left: 415px;
    text-align: center;
    display: none;
    border-radius: 25px 25px;
}

img{
    height: 300px;
    width: 300px;
}

input{
    padding: 10px;
    width: 300px;
}

button{
    background-color: #EE0000;
    width: 400px;
    padding: 15px;
    border-radius: 25px 25px;
    border: #EE0000;
    color: white;
}